<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>W A L L E E - VirtualWallet</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <a href="/">
      <img src="/logo.png" alt="Logo Wallet" class="logo" />
    </a>
  </header>
  <h1>Wallet - VirtualWallet</h1>
    <div>
      <a href="/login">
        <button type="submit">Iniciar sesión</button>
      </a>
    </div>
    

    <div class="register-link">
      <p>¿No tenés cuenta? <a href="/registro">Crear cuenta</a></p>
    </div>
</body>
</html>
