<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wallet - VirtualWallet</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
  <header>
    <a href="/">
      <img src="/logo.png" alt="Logo Wallet" class="logo" />
    </a>
  </header>
  <h1>Wallet - VirtualWallet</h1>

  <div class="login-box">
    <form action="/login" method="POST">
      <label for="email">Usuario</label>
      <input type="email" name="email" required>

      <label for="contrasena">Contraseña</label>
      <input type="password" name="password" required>

      <button type="submit">Iniciar sesión</button>
    </form>

    <div class="register-link">
      <p>¿No tenés cuenta? <a href="/registro">Crear cuenta</a></p>
    </div>
  </div>

</body>
</html>
