<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro - VirtualWallet</title>
<<<<<<< HEAD
<<<<<<< HEAD
  <link rel="stylesheet" href="styles.css">
=======
  <link rel="stylesheet" href="/styles.css">
>>>>>>> MatV
=======
  <link rel="stylesheet" href="/styles.css">
>>>>>>> MatV
</head>
<body>
  <h1>Crear cuenta - VirtualWallet</h1>

  <div class="login-box">
    <form>
      <label for="usuario">Usuario</label>
      <input type="text" id="usuario" name="usuario" required>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>

      <label for="contrasena">Contraseña</label>
      <input type="password" id="contrasena" name="contrasena" required>

      <label for="confirmar-contrasena">Confirmar contraseña</label>
      <input type="password" id="confirmar-contrasena" name="confirmar-contrasena" required>

      <button type="submit">Registrarse</button>
    </form>

    <div class="register-link">
      <p>¿Ya tenés cuenta? <a href="/">Iniciar sesión</a></p>
    </div>
  </div>
</body>
</html>
