<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro - W A L L E E</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Crear cuenta - W A L L E E</h1>

  <div class="login-box">
      <form action="/registro" method="POST">
        <label for="dni">DNI</label>
        <input type="text" name="dni" required>
        
        <label for="name">Nombre</label>
        <input type="text" name="name" required>
        
        <label for="surname">Apellido</label>
        <input type="text" name="surname" required>
        
        <label for="address">Direccion</label>
        <input type="text" name="address" required>
        
        <label for="email">E-mail</label>
        <input type="email" name="email" required>
        
        <label for="date_of_birth">Fecha de Nacimiento</label>
        <input type="date" name="date_of_birth" required>

        <label for="password">Contraseña</label>
        <input type="password" name="password" required>
        
        <label for="password_confirmation">Confirmacion de Contraseña</label>
        <input type="password" name="password_confirmation" required>

        <button type="submit">Registrarse</button>
      </form>

    <div class="register-link">
      <p>¿Ya tenés cuenta? <a href="/">Iniciar sesión</a></p>
    </div>
  </div>
</body>
</html>
